<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">
    <menu id="Ads" caption="msg://com.itpearls.agritomarketplace/menu_config.Ads" insertAfter="application">
        <item screen="AdsSaleDashboard"
              caption="msg://com.itpearls.agritomarketplace.screen.adssaledashboard/adsSaleDashboard.caption"/>
        <item screen="DealRequestSaleOffer.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.dealrequestsaleoffer/dealRequestSaleOfferBrowse.menu"/>
        <item screen="DealRequestPurchaseBuy.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.dealrequestpurchasebuy/dealRequestPurchaseBuyBrowse.menu"/>
        <item screen="LotToBuy.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.lottobuy/lotToBuyBrowse.menu"/>
        <item screen="LotForSell.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.lotforsell/lotForSellBrowse.menu"/>
    </menu>
    <menu id="ProductByer" caption="msg://com.itpearls.agritomarketplace/menu_config.ProductByer"
          insertAfter="application">
        <item screen="ProductByer.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.productbyer/productByerBrowse.menu"/>
    </menu>
    <menu id="AgriculturalManufacturer"
          caption="msg://com.itpearls.agritomarketplace/menu_config.AgriculturalManufacturer"
          insertAfter="Dictionary">
        <item screen="AgriculturalManufacturer.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.agriculturalmanufacturer/agriculturalManufacturerBrowse.menu"/>
        <item screen="MyHousehold.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.myhousehold/myHouseholdBrowse.menu"/>
    </menu>
    <menu id="Counterparties"
          caption="msg://com.itpearls.agritomarketplace/menu_config.Counterparties"
          insertAfter="Dictionary">
        <item screen="TradingLot.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.tradinglot/tradingLotBrowse.menu"/>
        <item screen="Person.browse" caption="msg://com.itpearls.agritomarketplace.screen.person/personBrowse.menu"/>
        <item screen="Counterparty.browse" id="Counterparty"
              caption="msg://com.itpearls.agritomarketplace/menu_config.Counterparty"/>
        <item screen="CounterpartyRating.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.counterpartyrating/counterpartyRatingBrowse.menu"/>
    </menu>
    <menu id="Dictionary" caption="msg://com.itpearls.agritomarketplace/menu_config.Dictionary"
          insertAfter="Counterparties">
        <item screen="ProductType.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.producttype/productTypeBrowse.menu"/>
        <item screen="Variety.browse" caption="msg://com.itpearls.agritomarketplace.screen.variety/varietyBrowse.menu"/>
        <item screen="Product.browse" caption="msg://com.itpearls.agritomarketplace.screen.product/productBrowse.menu"/>
        <item screen="Position_.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.position/positionBrowse.menu"/>
        <item screen="UnitMeasurment.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.unitmeasurment/unitMeasurmentBrowse.menu"/>
        <item screen="ProductGrade.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.productgrade/productGradeBrowse.menu"/>
        <item screen="TypeActivity.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.typeactivity/typeActivityBrowse.menu"/>
        <item screen="PaymentType.browse"
              caption="msg://com.itpearls.agritomarketplace.screen.paymenttype/paymentTypeBrowse.menu"/>
    </menu>
    <menu id="application" caption="msg://com.itpearls.agritomarketplace/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.itpearls.agritomarketplace.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>

</menu-config>